Django==4.2.16
djangorestframework
djangorestframework-simplejwt
psycopg2-binary
python-decouple
python-json-logger
dj-database-url
pytest
pytest-django
factory-boy
confluent-kafka
pytest-cov
minio
drf-spectacular==0.29.0
pre-commit==4.6.0
httpx==0.28.1
